body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #7CC6B8;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    flex-grow: 1;
    padding: 20px;
    margin: 5px;
}

.carousel {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto; /* Manter a altura relativa em relação à largura da viewport */
    max-height: 400px; /* Definir uma altura máxima para evitar que as imagens fiquem muito altas */
    border-radius: 8px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#conteudo {
    padding: 20px;
}

.pagina {
    display: none;
}

.pagina.ativa {
    display: block;
}

.dengue {
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
}

.temporeal{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: aqua;
    border-radius: 8px;
    width: 8vw;
    height: 3vw;
}
    
.casos,
.mortes {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    border-radius: 8px;
    width: 8vw;
    height: 3vw;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    .temporeal,
    .casos,
    .mortes {
        width: 40%; /* Redimensionar os elementos para ocupar 40% da largura da tela */
        height: 10vw; /* Ajustar a altura proporcionalmente */
        margin-bottom: 1vw; /* Ajustar a margem inferior para uma separação visual */
    }
}


footer {
    background-color: #0e0c0c;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    header, footer {
        padding: 10px 0;
    }
    .footer-links {
        flex-direction: row;
    }
    .footer-links a {
        margin: 5px 0;
    }
}
