body {
    background-color: #F2F2F2;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header {
    background-color: #243563;
    color: white;
}

header .navbar-brand p.title-header {
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

header .navbar-nav {
    margin-left: auto;
}

header .nav-item {
    margin-left: 15px;
}

header .nav-link,
header .navbar-toggler-icon {
    color: white !important;
}

main {
    flex-grow: 1;
    padding: 20px;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #0e0c0c;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
}

.footer-links a {
    color: white;
    text-decoration: none;

}

@media screen and (max-width: 600px) {

    header,
    footer {
        padding: 10px 0;
    }

    .footer-links {
        flex-direction: row;
    }

    .footer-links a {
        margin: 5px 0;
    }
}

.hp {
    display: flex;
    flex-direction: column;
}

.vida-player,
.vida-zika {
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 25px;
}

.vida-atual-player,
.vida-atual-zika {
    height: 100%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}

.vida-atual-player {
    background-color: #007bff;
}

.vida-atual-zika {
    background-color: #dc3545;
}


#btn-iniciar {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#mensagem-vitoria {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    display: none;
}


.pergunta {
    display: none;
    margin-bottom: 20px;
}

.pergunta.ativa {
    display: block;
}

.alternativa {
    margin-bottom: 10px;
}